@import "./bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #f0f0f0;
}

#b-toaster-top-right {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 300px;
  pointer-events: none;

  .toast {
    opacity: .8;
  }
}